Flask
PyMySQL
PyMySQL[rsa]
PyMySQL[ed25519]
psycopg[binary]
pymongo
redis[hiredis]
boto3
pika
celery
googleapis-common-protos
grpcio
opentelemetry-api
opentelemetry-exporter-otlp
opentelemetry-exporter-otlp-proto-http
opentelemetry-instrumentation
opentelemetry-instrumentation-flask
opentelemetry-instrumentation-wsgi
opentelemetry-sdk
opentelemetry-distro
