Django==5.2.14
tzdata==2026.2
psycopg2-binary==2.9.12
opentelemetry-api==1.42.1
opentelemetry-exporter-otlp==1.42.1
opentelemetry-exporter-otlp-proto-http==1.42.1
opentelemetry-instrumentation==0.63b1
opentelemetry-instrumentation-wsgi==0.63b1
opentelemetry-sdk==1.42.1
openfga_sdk==0.10.3
Authlib==1.7.2
requests==2.34.2
