# Copyright 2025 Canonical Ltd.
# See LICENSE file for licensing details.

version: "1"
prometheus:
  scrape_configs:
    - job_name: "example-job"
      metrics_path: "/metrics"
      static_configs:
        - targets:
          - "*:8080"
